.jumbotron {
  background: url("/tree.jpg") no-repeat;
  height: 310px;
  background-size: cover;
  background-position: center -372px;
}
/* @media (min-width: 1020px and max-width:2328px) { */
@media (min-width: 1398px) {
  .jumbotron {
    height: 360px;
    background-attachment: fixed;
    background-position: center -600px;
  }
}
